UnrealProjs/ResearchProj/Binaries/
UnrealProjs/ResearchProj/Intermediate/
UnrealProjs/ResearchProj/Saved/
UnrealProjs/ResearchProj/ResearchProj.opensdf
UnrealProjs/ResearchProj/ResearchProj.sdf
UnrealProjs/ResearchProj/ResearchProj.sln
UnrealProjs/ResearchProj/ResearchProj.v12.suo